@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.font-raleway {
  font-family: var(--font-raleway), sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-raleway: var(--font-raleway);

  --color-brand-yellow: #ffc30b;
  --color-brand-yellow-semi: #f7ba00;
  --color-brand-burgundy: #800020;
  --color-brand-maroon: #9c0000;
  --color-brand-white: #fafafa;
  --color-brand-white-semi: #eeeeee;
  --color-brand-black: #0d0d0d;
  --color-brand-black-semi: #3b3b3b;
  --color-brand-gray: #bfbfbf;

  --spacing-25: 100px;
  --spacing-30: 120px;
  --spacing-40: 160px;
}

@layer components {
  /* Only one in every page #IMPORTANT */
  .brand-h1 {
    @apply text-5xl;
  }

  .brand-h1-semi {
    @apply text-[40px];
  }

  /* Every Section Title */
  .brand-h2 {
    @apply text-2xl;
  }

  /* Every Card Title or Component*/
  .brand-h3 {
    @apply text-[20px] max-sm:text-[16px];
  }

  /* Every paragraf or text in this project */
  .brand-p {
    @apply text-base max-sm:text-[12px];
  }

  .brand-section-px {
    @apply px-5 sm:px-10 md:px-25;
  }

  .brand-section-py {
    @apply pt-30 pb-20;
  }

  .brand-stretch {
    @apply leading-[125%] tracking-wider;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}
/* leading-[125%] tracking-wider */
