@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.font-raleway {
  font-family: var(--font-raleway), sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-raleway: var(--font-raleway);

  --color-brand-yellow: #ffc30b;
  --color-brand-yellow-semi: #f7ba00;
  --color-brand-burgundy: #800020;
  --color-brand-maroon: #9c0000;
  --color-brand-white: #fafafa;
  --color-brand-white-semi: #eeeeee;
  --color-brand-black: #0d0d0d;
  --color-brand-black-semi: #3b3b3b;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
