@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.font-raleway {
  font-family: var(--font-raleway), sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-raleway: var(--font-raleway);

  --color-brand-yellow: #ffc30b;
  --color-brand-yellow-semi: #f7ba00;
  --color-brand-burgundy: #800020;
  --color-brand-maroon: #9c0000;
  --color-brand-white: #fafafa;
  --color-brand-white-semi: #eeeeee;
  --color-brand-black: #0d0d0d;
  --color-brand-black-semi: #3b3b3b;
  --color-brand-gray: #bfbfbf;

  --spacing-13: 60px;
  --spacing-25: 100px;
  --spacing-30: 120px;
  --spacing-40: 160px;
  --spacing-40: 160px;
}

@layer components {
  /* Only one in every page #IMPORTANT */
  .brand-h1 {
    @apply text-3xl font-bold sm:text-4xl lg:text-5xl;
  }

  .brand-h1-mb {
    @apply mb-5 sm:mb-6 lg:mb-7;
  }

  .brand-h1-semi {
    @apply text-2xl font-normal sm:text-3xl lg:text-[40px];
  }

  /* Every Section Title */
  .brand-h2 {
    @apply text-2xl;
  }

  /* Every Card Title or Component*/
  .brand-h3 {
    @apply text-base font-medium lg:text-[20px];
  }

  /* Every paragraf or text in this project */
  .brand-p-desc {
    @apply mb-10 max-sm:text-xs sm:mb-12 sm:text-sm lg:mb-14 lg:text-base;
  }

  .brand-p {
    @apply max-sm:text-xs sm:text-sm lg:text-base;
  }

  .brand-section-px {
    @apply px-5 sm:px-10 lg:px-13;
  }

  .brand-section-mpx {
    @apply sm:px-10 lg:px-25;
  }

  .brand-section-my {
    @apply pt-30 pb-20 sm:pt-20 lg:pt-30 lg:pb-20;
  }

  .brand-stretch {
    @apply leading-[125%] tracking-wider max-sm:leading-[100%];
  }
}

body {
  background: #fafafa;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}
/* leading-[125%] tracking-wider */

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: 0px;
}

.blog-content img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 4px;
  display: block;
  aspect-ratio: 16/8;
  margin: 18px auto; /* center */
}
